<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.sh.s3.notice.NoticeDAO">

	<select id="getList" resultType="NoticeDTO">
		select * from notice order by num desc
	</select>
	
	<select id="getSelect" parameterType="NoticeDTO" resultType="NoticeDTO">
		select * from notice where num=#{num}
	</select>
	
	<delete id="setDelete" parameterType="NoticeDTO">
		delete from notice where num=#{num}
	</delete>
	
	<update id="setUpdate" parameterType="NoticeDTO">
		update notice set title=#{title}, name=#{name}, contents=#{contents}, regdate=#{regdate}, hit=#{hit}
	</update>
	
	<insert id="setInsert" parameterType="NoticeDTO">
		insert into notice values(notice_seq.nextval,#{title}, #{name}, #{contents}, sysdate, #{hit})
	</insert>
	
</mapper>
